@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Poppins:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", serif;
}

.container {
  margin: 0 auto;
  width: 1024px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 110px;
}

.whoweare {
  font-family: "Poppins", sans-serif;
  width: 50%;
  line-height: 1.5rem;
}

.who {
  font-weight: 600;
}

.weare {
  font-weight: 400;
  line-height: 2.7rem;
}

.grid {
  display: grid;
  grid-column: span 3;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  display: grid;
    grid-template-columns: 90% 7%;
    margin-bottom: 3rem;
    column-gap: .5rem;
    row-gap: 1rem;
}
.down {
  transform: translateY(25%);
}
.card img {
  /* position: absolute; */
  width: 100%;
  height: auto;
}

h5 {
  writing-mode: vertical-rl;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: normal;
  font-family: "PT Serif", serif;

}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 4rem;
}

@media (max-width: 375px) {
  .top {
    flex-direction: column;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
