@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Poppins:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", serif;
}

.container {
  display: grid;
  gap: 5rem 3rem;
  margin: 3rem 5rem 41px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 100px;
}

.whoweare {
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
  justify-self: center;
  margin: 0 6rem;
}

.who {
  font-weight: 600;
}

.weare {
  font-weight: 400;
  line-height: 2rem;
  width: 70%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  display: grid;
  grid-template-columns: 90% 8%;
  margin-bottom: 3rem;
  column-gap: 0.5rem;
  row-gap: 1rem;
  margin-right: 3rem;
}
.down {
  transform: translateY(25%);
}

.card img {
  width: 100%;
  height: auto;
}

h5 {
  writing-mode: vertical-rl;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
  font-family: "PT Serif", serif;
  padding-right: 5px;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 4rem;
}

footer {
  text-align: center;
  padding-top: 100px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #bdbdbd;
  font-weight: 500;
}

footer span {
  font-weight: 700;
}

@media (max-width: 640px) {
  .top {
    flex-direction: column;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .whoweare {
    margin: 15px auto;
  }

  .weare {
    line-height: 1.5rem;
  }

  .card {
    grid-template-columns: 90% 10%;
  }
  .card:nth-last-child(even) {
    transform: translateY(5px);
  }

  .card:nth-last-child(odd) {
    transform: translateY(100px);
  }
}
